* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "spongeBob";
  src: url("spongeBob.woff2") format("woff2"),
    url("spongeBob.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url(./img/t3.jpg);
  background-size: contain;
  font-family: "spongeBob";
}
.wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.mem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eye {
  background-image: url(./img/open.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0;
  rotate: -20deg;
  transition: 0.4s;
}
.parent {
  padding: 0.9rem;
  width: 75vw;
  background-color: #23d4f1e0;
  color: honeydew;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.child {
  align-self: center;
  padding: 0.5rem;
  transition: 0.9s;
  visibility: hidden;
  opacity: 0;
  width: 0%;
}

.parent:hover {
  cursor: pointer;
}
.parent:hover .child {
  visibility: visible;
  opacity: 1;
  width: 60%;
}
.parent:focus .child {
  visibility: visible;
  opacity: 1;
  width: 60%;
}

.content:hover .eye {
  opacity: 1;
  rotate: 20deg;
}

input {
  height: 0;
  width: 0;
  opacity: 0;
}
input:focus + .parent .child {
  visibility: visible;
  opacity: 1;
  width: 60%;
}
