@media screen and (min-width: 320px) {
  .parent {
    font-size: 4vw;
  }
}
@media screen and (min-width: 820px) {
  .parent {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1920px) {
  .parent {
    font-size: 5.5vw;
  }
}
